footer.row
  div(class='large-12 columns')
    hr
    .row
      div(class='large-6 columns')
        p &copy; 2014 The Amateur Radio Club at Ohio State University
      div(class='large-6 columns')
        ul(class='inline-list right')
          li
            a(href='https://www.facebook.com/groups/w8ltosu/' class='webicon facebook') Facebook
