footer.row
  .large-12.columns
    hr
    .row
      .large-6.columns
        p &copy; 2014 The Amateur Radio Club at Ohio State University
      .large-3.columns
        a(href="mailto:w8lt@osu.edu") Contact
      .large-3.columns
        ul.inline-list.right
          li
            a(href='https://www.facebook.com/groups/w8ltosu/' class='webicon facebook') Facebook
