script(type='text/javascript' src='/vendor/js/jquery.js')
script(type='text/javascript' src='/vendor/js/fastclick.js')
script(type='text/javascript' src='/vendor/js/foundation.js')
script(type='text/javascript' src='/js/app.js')
