doctype html
html
  head
    title W8LT - #{title}
    block stylesheets
      link(rel='stylesheet', href='/css/app.css')
    block jscripts
      script(type='text/javascript' src='/vendor/js/modernizr.js')
  body
    header
      .row
          include ./topnav.jade
    block content
    block footer
      include ./footer.jade
      include ./jsfooter.jade
