.contain-to-grid.sticky
  nav(class='top-bar' data-topbar role="navigation")
    ul.title-area
      li.name
         h1
           a(href='/') W8LT @ OSU
    section.top-bar-section
      ul.right
        li.divider
        li
          a(href='/history') History
        li.divider
        li
          a( href='/office') The Office
        li.divider
        li
          a(href='/leaders') Officers
        li.divider
        li
          a(href='/education') Education
        li.divider
        li
          a(href='/licensing') Licensing
