extend layout
block content
  .row
    .small-1.pull-11.columns
    .large-10.push-1.columns
      h2 Oops
      p It looks like the page you requested could not be found.
    .small-1.push-11.columns
