extend layout
append stylesheets
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.5/fullcalendar.min.css')
append footer
  script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.5/fullcalendar.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.5/gcal.js')
  script(type='text/javascript' src='/js/calendar.js')
block content
  .row
    .large-12.columns
      .text-center
        h3.
          Meeting Calendar
        div(id="calendar")
