extend includes/layout

block content
	.row
		.large-12.columns
			h3
				| Education
			h5
				strong Self Education
			p.
				There are several ways to get started on your own, here’s how to do it
				for free.
			ul
				li
					| Dan Romanchik (KB6NU), provides what he calls the “No-Nonsense
					| Study Guides” available for download at
					| <a href="http://www.kb6nu.com/tech-manual/">http://www.kb6nu.com/tech-manual/</a>.
					| Think of these guides as the “Cliff’s Notes” to Ham radio licensing
					| manuals. The Technician and General guides are free. Dan does charge
					| a very reasonable fee of $7.99, for the Extra guide, which is
					| cheaper than eating lunch at most fast food restaurants.
				li
					| Anki is a flash card program that is cross platform and will run on
					| Windows, Linux, Mac, and Android for free. Sorry iPhone users, Anki
					| is $24.99. There is the web option that will work on the iPhone for
					| free with some limitations. Anki card decks are available for all 3
					| licensing exams. Check out Anki at
					| <a href="http://ankisrs.net/">http://ankisrs.net/</a>.
				li
					| Speaking of practice exams, eHam offers them up for free. eHam
					| offers practice exams for all 3 license classes and they really are
					| a great way to measure your knowledge. If you can pass the practice
					| exams at 90% or better, multiple times, then you should be able to
					| pass the real exam and get licensed. Practice at
					| <a href="http://www.eham.net/exams/">http://www.eham.net/exams/</a>.
