extend layout

block content
	.row
		.small-1.pull-11.columns
		.large-10.push-1.columns
			h3
				| Education
			h5
				strong Proper operation as part of an emergency services organization such as ARES or MARS
			p
				| stuff
			h5
				strong Software Defined Radio (SDR)
			p
				| stuff
			h5
				strong Licensing Exam material
			p
				| stuff
			h5
				strong Basic circuit design
			p
				| stuff
			h5
				strong Antenna design
			p
				| stuff
			h5
				strong Radio design
			p
				| stuff
		.small-1.push-11.columns
