extend includes/layout

block content
	.row
		.large-12.columns
			h3
				| Education
			h5
				strong Proper operation as part of an emergency services organization such as ARES or MARS
			p
				| stuff
			h5
				strong Software Defined Radio (SDR)
			p
				| stuff
			h5
				strong Licensing Exam material
			p
				| stuff
			h5
				strong Basic circuit design
			p
				| stuff
			h5
				strong Antenna design
			p
				| stuff
			h5
				strong Radio design
			p
				| stuff
