extend layout

block content
  .row
    .small-1.pull-11.columns
    .large-10.push-1.columns
      h3
        | Club History
      p.
        To the best of our knowledge, the Amateur Radio Club at the Ohio State
        University had its origin in the vicinity of 1926 as 8LT. Searching
        through the voluminous W8LT QSL card collection we have found numerous
        QSL cards dating from 1928 onwards. See the <a href="/qsl">W8LT QSL page
        </a> for some examples. To bring some semblance of order to the
        licensing of amateur radio/broadcasting stations, the Radio Act of 1927
        was passed by Congress, forming the Federal Radio Commission. An
        agreement reached at the International Amateur Radio Union provided that
        US amateur stations after October 1, 1928, would use "W" as the prefix
        to their callsigns. Thus 8LT became W8LT.
      p.
        QSL cards mailed to W8LT in 1928 were addressed to 229 Frambes Ave, and
        after 1930 addressed to the Ohio State University itself. Perhaps this
        was a faculity advisor's address. 229 Frambes Ave refers to that portion
        of Frambes that was west of High Street, all these homes were demolished
        in the early 1960s to make way for parking lots. Tradition says that in
        these early years the club station was located in a small three room
        wood building at 19th and Neil Avenues, the interior of which is seen
        below. Dick, W8FXE, tells us that he believes this same small wood
        building was a very early home of WOSU-AM. The small wood building was
        torn down in the mid 1950s to make way for the new Aero-Civil
        Engineering building (Hitchcock Hall).
      p
        center
          img(src="img/history/1.jpg" alt="Two operators work in W8LT's office")
      p.
        WOSU-AM is, incidentally, the oldest radio station still broadcasting in
        Columbus, Ohio. The Ohio State University received an experimental
        license on April, 20, 1920, to operate on 200 and 375 meters with 1.8
        watts. They received the call letters WEAO on June 3, 1922 and raised
        their power to 650 watts. In 1933 the station was granted permission to
        broadcast with 1 kilowatt as WOSU, which was raised to 5 kilowatts in
        1941.
      p.
        From 1957 to 1961 W8LT was housed in River Road Dorm Building #26 (links
        to images are below), one of a large number of one and two story dorms
        built to house the great influx of students following World War II. This
        substantial group of buildings was located west of Olentangy River Road
        between Lane Ave and Ackermann Rd. Alas these structures were always
        intended to be temporary, and the club was evicted in July 1961. The
        building was demolished and burned a month later. Guess they really
        wanted us out of there! The Woody Hayes Athletic Facility and the new
        Schottenstein Arena now occupy this site.
      p.
        July 1961 to January 1963 was a sad period in the history of W8LT. The
        club was unable to find quarters anywhere on campus and all of the
        club's equipment was put into storage in the basement of club member
        Bill Hale, K8JIX, and brought out only for the ARRL Field Day each June.
        January 12, 1963 marked a major turning point in our history when the
        club was permitted to establish itself in the southeast tower of the
        Ohio Stadium, where it remained until the turn of the century. In the
        late 50s and early 60s W8LT was very active in Field Day, operating both
        from the Ohio Stadium and Perkins Observatory.
      p.
        Throughout the 1960s the club participated in Ohio State's May Day fling
        on the OSU Oval. We received permission to set up a ham radio station on
        the Oval, usually inside a late model car parked on the Oval, to take
        and relay free messages for students. This activity proved immensly
        popular and generated a great deal of positive publicity for the club.
      p.
        Spring Quarter of 1970 at Ohio State marked a period of student unrest
        coinciding with student disturbances at campuses nationwide. Protesting
        United States involvement in Vietnam, during Spring Quarter Ohio State
        experienced over thirty incendiary fires, numerous cases of vandalism
        and violence. Security was a chief concern of the University
        Administration, and club members' access to the W8LT shack was severly
        limited.
      p.
        W8LT led in the establishment of the first RTTY traffic net in Ohio.
        Spearheaded by club president and net manager Robert Cram, WA8YUB, the
        new RTTY net first met on Sunday, January 10, 1971 at 2300 UTC on
        3605 kHz. This net is still active as one of our Ohio Section Nets, BNR.
      p
        center
          a(href="img/history/2.jpg")
            img(src="img/history/2s.jpg" alt="Image of the horshoe circa 1960.")
      p.
        The photo above is a view of Ohio Stadium in the 1960s, taken by the
        tallest member of the club then :-). The bed of the old railroad that
        brought coal to the power plant and also picked up rail passengers north
        of the Stadium to go to Michigan football games, is still visible.
        Lincoln and Morrill Towers are nowhere to be found!
      hr
      p
        center
          <strong>True story</strong> - by Jack WB8FSV</center>
      p.
        "<em>I remember well the Saturday afternoon in fall 1978 while I was a
        student at OSU. I was sitting up in the Ohio Stadium tower operating
        W8LT. Running strings of Europeans on 15 meters CW with that quad up 110
        feet, I was having a great time and oblivious to the world. Interrupted
        by a knocking on the shack door, I was greeted by an ABC-TV technician
        in a white uniform and hardhat. Turns out there was a
        nationally-televised OSU-Illinois football game in progress, and I was
        causing them TVI. Could I please cease operation, he asked in a
        not-too-friendly voice? Hey cool, I was producing nationwide TVI. So I
        QRT'd and went out to watch the game.</em>"
      hr
      p.
        During its time in the stadium, the club was located just below the top
        of the southeast tower. Ohio Stadium was the first open-ended horseshoe
        shaped football stadium in the United States, constructed in 1922. The
        club shared this tower with the OSU Athletic Department. Directly above
        the shack was the huge OSU victory bell (about 5 feet tall!), which is
        rung after each victorious Ohio State home football game.
      p
        center
          img(src="img/history/old/0.jpg" alt="A picture of the radio station that used to be in Ohio Stadium.")
      p.
        Here is the main W8LT operating position at the stadium, looking east
        out the fifth floor shack windows. The desk, wood paneling, and windows
        had not changed since the club moved in during the early 1960s.
        Following is some of the equipment from the stadium station. Much of it
        is currently being used in the Bevis hall station.
      ul
        li Yaesu FT 767GX (HF)
        li Yaesu FT 736R (VHF/UHF)
        li Yaesu FT 726R (VHF/UHF)
        li Kenwood TL 922A (linear)
        li Kenwood TS 830 (HF)
      p Not visible were our antennas:
      ul
        li Longwire 500 ft long/90 ft high
        li GAP vertical (all-band vertical)
        li 3 element 6 meter beam
        li 2 meter and 440 mHz beam
      p.
        The world renown W8LT longwire was approximately 600 feet in length,
        although this length varies depending on which club member or alumni you
        ask. It is made of number 10 enameled copperweld wire with a strength of
        1130 lbs. During one of the 1960s Field Day activities in the Ohio
        Stadium another long wire was stretched lengthwise across the Stadium,
        achieving a distance of approximately 835 feet.
      hr
      h4 Photos of the Old Station
      p
        a(href="img/history/old/1.jpg").
          The south end of the Ohio Stadium. The right tower was our home.
      p
        a(href="img/history/old/2.jpg").
          Close-up of the southeast tower with antennas on top.
      p
        a(href="img/history/old/3.jpg").
          Looking east out of the shack window. Longwire feedline is visible.
          The longwire goes ALLLL the way over to that smokestack.
      p
        a(href="img/history/old/4.jpg").
          The terminally cluttered W8LT workbench.
      p
        a(href="img/history/old/5.jpg").
          Storage area above the drop ceiling in the W8LT shack.
      p
        a(href="img/history/old/6.jpg").
          Looking south out the open end of the Ohio Stadium, with Lincoln and
          Morrill Towers in background.
      hr
      h4 More Old W8LT Photographs
      p
        a(href="img/history/3.jpg").
          The old River Road Dorm Building #26, home of W8LT 1957 to 1961.
      p
        a(href="img/history/4.jpg").
          W8LT operating position inside the old River Road Dorm
      p
        a(href="img/history/5.jpg").
          The River Road Dorms, circa 1957. These guys look guilty, they must be
          hams.
      p
        a(href="img/history/6.jpg").
          Field Day 1961 inside the north tower of Ohio Stadium.
      p
        a(href="img/history/7.jpg").
          1960's era W8LT operating position. Wall behind is inside one of the
          Ohio Stadium towers.
      p
        a(href="img/history/8.jpg").
          1962 Field Day site, antennas atop Ohio Stadium - looking west
      p
        a(href="img/history/9.jpg").
          Our current location, southeast tower of Ohio Stadium, taken about
          1968.
      p
        a(href="img/history/10.jpg").
          W8LT operating position, the calendar on wall says 1968. Far out, man.
      p
        a(href="img/history/11.jpg").
          W8LT VHF operating position, 1970. The operator in the photo is quite
          possibly Paul Hurm! Hi Paul!
      p
        a(href="img/history/12.jpg").
          W8LT main operating position, 1970. The famous Drake twins!
      p
        a(href="img/history/13.jpg").
          Page from W8LT logbook, beginning of Fall Quarter 1931.
      hr
      p.
        Should you happen to read this partial history and be able to help us
        fill in some of the holes, please
        <a href="mailto:w8lt@osu.edu">email</a> or contact us. This is certainly
        a work in progress, any and all contributions are certainly welcome!
    .small-1.push-11.columns
