extend layout
block content
	.row
		.large-12.columns
			h2.text-center.
				W8LT at The Ohio State University
			p.text-center.
				Welcome to the Amateur Radio Club at Ohio State University!
			p.text-center.
				Since 1926, W8LT has been committed to public service and education. We
				provide volunteers for events around Central Ohio as well as educational
				resources and short-courses for Technician class licensing.
			h4.text-center Repeaters
			ul.text-center
				li TX: 442.600, 114.8 CTCSS
				li RX: 447.600, 114.8 CTCSS
			p.text-center
				.line.text-center Room 40, Bevis Hall
				.line.text-center 1080 Carmack Road
				.line.text-center Columbus, OH 43210
			p.text-center
				| contact us at
				a(href="w8lt@osu.edu") w8lt@osu.edu
