extend layout
block content
	.row
		.large-12.columns
			.text-center
				.show-for-small-only.svg
					img(src='/img/logo/W8LTblockLogo.svg' alt="W8LT: Amateur Radio Club at OSU since 1926")
				.show-for-medium-up.svg
					img(src='/img/logo/W8LTlinearLogo.svg' alt="W8LT: Amateur Radio Club at OSU since 1926")
			p.text-center.
				Welcome to the Amateur Radio Club at Ohio State University!
			p.text-center.
				Since 1926, W8LT has been committed to public service and education. We
				provide volunteers for events around Central Ohio as well as educational
				resources and short-courses for Technician class licensing.
			h4.text-center Repeaters
			p.text-center.
				TX: 442.600, 114.8 CTCSS<br/>
				RX: 447.600, 114.8 CTCSS
			p.text-center.
				Room 40, Bevis Hall<br/>
				1080 Carmack Road<br/>
				Columbus, OH 43210
