extend layout
block content
	.row
		.small-1.pull-11.columns
		.large-10.push-1.columns
			h2
				| W8LT at The Ohio State University
			p#introPara
				| Lorizzle ipsum dolizzle sit i'm in the shizzle, consectetuer adipiscing we gonna chung. Nullizzle sapien velizzle, gangster volutpat, fo shizzle quizzle, sizzle da bomb, arcu. Pellentesque egizzle tortor. Sizzle erizzle. Mofo sure shiz da bomb turpis tempizzle i'm in the shizzle. Mauris pellentesque nibh go to hizzle turpizzle. Pimpin' in tortor. Break it down eleifend rhoncus crackalackin. In hac we gonna chung platea crazy. dapibizzle. Curabitur tellus urna, pretizzle eu, mattis izzle, eleifend for sure, nunc. Uhuh ... yih! suscipizzle. Integizzle semper shizznit crazy i saw beyonces tizzles and my pizzle went crizzle.

			h4 Repeaters
			ul
				li TX: 442.600, 114.8 CTCSS
				li RX: 447.600, 114.8 CTCSS
			p
				.line Room 40, Bevis Hall
				.line 1080 Carmack Road
				.line Columbus, OH 43210
			|contact us at 
			a(href="w8lt@osu.edu") w8lt@osu.edu
		.small-1.push-11.columns
