extend layout
block content
	.row
		.large-12.columns
			h2
				| W8LT at The Ohio State University
			p#introPara.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac
				sem eu dolor lacinia congue. Nulla nec eros accumsan, mattis odio ut,
				tristique tortor. Pellentesque sit amet diam eget massa eleifend dapibus
				ut ac tellus. Nam vel tellus sem. Donec imperdiet feugiat sapien, eu
				porta massa sodales non. Donec vel efficitur felis. Aenean ornare lorem
				nulla, nec volutpat turpis rutrum id. Suspendisse potenti. Integer
				accumsan eros in dapibus dignissim. Nullam nibh tortor, viverra at nulla
				ullamcorper, consequat congue erat. Suspendisse a vulputate felis, at
				condimentum dolor. Suspendisse ligula lorem, convallis a nisl quis,
				facilisis posuere urna. Morbi ac dictum lorem. Aenean fermentum lectus
				et metus efficitur, convallis semper elit volutpat.

			h4 Repeaters
			ul
				li TX: 442.600, 114.8 CTCSS
				li RX: 447.600, 114.8 CTCSS
			p
				.line Room 40, Bevis Hall
				.line 1080 Carmack Road
				.line Columbus, OH 43210
			|contact us at 
			a(href="w8lt@osu.edu") w8lt@osu.edu
