doctype html
html
  head
    title W8LT - #{title}
    link(rel='stylesheet', href='/css/app.css')
    script(type='text/javascript' src='/vendor/js/modernizr.js')
  body
    header
      .row
          include ./includes/topnav.jade
    block content
    include ./includes/footer.jade
    include ./includes/jsfooter.jade
