extend layout

block content
	.row
		.small-1.pull-11.columns
		.large-10.push-1.columns
			h3
				| Officers
			h5
				strong Student Officers
				// TODO: Add pictures of Officers and Advisors
			p
				.line President: Ben Wetzel - KB3WGG (<a href="mailto:wetzel.104@osu.edu">wetzel.104@osu.edu</a>)
			p
				.line Vice-President: Eric Bauer - KD8TJI (<a href="mailto:bauer.432@osu.edu">bauer.432@osu.edu</a>)
			p
				.line Treasurer: Joe Warner - KD8TJH (<a href="mailto:warner.512@osu.edu">warner.512@osu.edu</a>)
				.line <img src="img/warner.512.png"></img>
			h5
				strong Advisors
			p
				.line Advisor: Dr. Larry Feth - K8HTC (<a href="mailto:feth.1@osu.edu">feth.1@osu.edu</a>)
			p
				.line Co-Advisor: Chris Pezzutti - N8FWY (<a href="mailto:pezzutti.1@osu.edu">pezzutti.1@osu.edu</a>)
		.small-1.push-11.columns
