extend layout

block content
  .row
    .small-1.pull-11.columns
    .large-10.push-1.columns
      h3
        | Page Title
        small Page subtitle
      p
        | TODO: Brief introduction not yet drafted
      h4
	| Repeaters
      ul
	li TX: 442.600, 114.8 CTCSS
	li RX: 447.600, 114.8 CTCSS 
      p
	|Room 40, Bevis Hall
	|1080 Carmack Road
	|Columbus, OH 43210
      p
	|Contact us at w8lt@osu.edu
