extend layout
block content
  .row
    .large-12.columns
        h3.text-center.
          Meetings
        p.text-left.
          W8LT holds two types of meetings every semester: our regular meetings
          and our monthly dinner meetings. In addition to these meetings, we
          also hold a special dinner meeting during finals.
        h5.text-center.
          Regular Meetings
        p.text-left.
          Meeetings are normally held on Mondays at 7:30 p.m. either in W8LT's
          office or in a lecture hall in one of the buildings near the office.
          The exact location and topic of the meetings are announced the week or
          weekend before the meeting.
        h5.text-center.
          Dinner Meetings
        p.text-left.
          On the fourth Monday of every month, W8LT meets at a local restaurant
          for dinner usually around 7:00 or 7:30 p.m. The location of the dinner
          meetings are announced the week before the meeting on the mailing
          list.
        p.text-left.
          The dinner meeting during finals is determined by members in the
          meetings preceeding finals week.
        h5.text-center.
          Meeting Calendar
        p.text-left.
          A calendar of every meeting is available <a href='/calendar'>here</a>
          as well as on
          <a href='https://www.google.com/calendar/embed?src=45qblop08sqnk5fcvb7hb4kkq0%40group.calendar.google.com&ctz=America/New_York'>Google
          Calendar</a>.
