extend layout

block content
  .row
    .small-1.pull-11.columns
    .large-10.push-1.columns
      h3
        | The Office
      h5
        strong Location
      p.
        &nbsp;&nbsp; 040 Bevis Hall <br/>
        &nbsp;&nbsp; 1080 Carmack Rd <br/>
        &nbsp;&nbsp; Columbus, OH 43210
      h5
        strong What we provide
      p.
        The Amateur Radio Club Office and Radio Room provides space for Amateur
        Radio Operators to spend time, study, and broadcast using our HF, UHF,
        and VHF stations.
      p.
        The club's radios are connected to antennas on the roof of Bevis Hall.
    .small-1.push-11.columns
